<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Survey.My.MySettings.ConnStringDatabaseSurvey" connectionString="Data Source=10.12.12.51;Initial Catalog=SURVEY;Persist Security Info=True;User ID=sa;Password=formisayt" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />

      <httpRuntime maxQueryStringLength="32768" maxUrlLength="65536"/>
      
      
    </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768"/>
      </requestFiltering>
    </security>
  </system.webServer>
 
  
</configuration>
