html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #619af4;
    background: -webkit-gradient(linear, #a9c5f2, #619af4);
}

#userInfo label {
    position: absolute;
    right: -355px;
    transition: 0.3s;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    width: 405px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-radius: 5px 0px 0px 5px;
}

#userInfo label:hover {
    right: 0;
}

#info {
    top: 10px;
    background-color: mediumseagreen;
}