html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #619af4;
    background: -webkit-gradient(linear, #a9c5f2, #619af4);
}

#userInfo label {
    position: absolute;
    right: -355px;
    transition: 0.3s;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    width: 405px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-radius: 5px 0px 0px 5px;
}

#userInfo label:hover {
    right: 0;
}

#info {
    top: 10px;
    background-color: mediumseagreen;
}

.pointer {
    width: 200px;
    height: 50px;
    position: relative;
    background: #f46e42;
    /*Other colors: #f4e541 #7ff441 #41f467 #41eef4 #4173f4 #6a41f4 #a641f4 #f441d9 #f44161*/
}

.pointer:after {
     content: "";
     position: absolute;
     left: 0;
     bottom: 0;
     width: 0;
     height: 0;
     border-left: 20px solid white;
     border-top: 20px solid transparent;
     border-bottom: 20px solid transparent;
}

.pointer:before {
     content: "";
     position: absolute;
     right: -20px;
     bottom: 0;
     width: 0;
     height: 0;
     border-left: 20px solid #f46e42;
     border-top: 20px solid transparent;
     border-bottom: 20px solid transparent;
}